* {
  margin: 0em;
}

body {
  text-align: center;
  background-color: #71b1b5;
  margin-top: 10em;
}

header {
  padding: 15px;
  background-color: #000000;
  border: 0px;
  color: #ffffff;
  margin: 0px;
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 10ex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

body>* {}

.boton-central {
  display: block;
  margin: 0 auto;
  width: 50%;
}

.percent {
  width: 90%;
}

.formulario {
  padding: 10px;
  background-color: #C0C0C0;
  width: 100px;
}

.panel {}

#container {}

.center {
  width: auto;
  margin: 0px auto;
}
